html > body > main > section.form
{
	position: relative;

	width: 52.1%;
	min-width: 915px;
	padding-bottom: 55px;
	margin-top: 161px;
	margin-right: auto;
	margin-left: auto;

	border: @primary-border;
}

html > body > main > section.form > h2
{
	position: relative;
	z-index: 1;

	width: 690px;
	margin-top: -25px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	background: @body-background;
}

html > body > main > section.form > form
{
	width: 51.5%;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

html > body > main > section.form > form > p
{
	width: 370px;
	padding-top: 11px;
	padding-bottom: 10px;
	padding-left: 65px;
	margin-right: auto;
	margin-left: auto;

	letter-spacing: 0.6px;
	text-transform: uppercase;

	background: url('../images/icons/form.svg') 0 0 no-repeat transparent;
	background-size: contain;
}

html > body > main > section.form > form > div
{
	position: relative;


	margin-top: 30px;
}

html > body > main > section.form > form > div:first-of-type
{
	margin-top: 50px;
}

html > body > main > section.form > form > div > input
{
	display: block;

	width: 100%;
	padding-top: 18px;
	padding-right: 23px;
	padding-bottom: 16px;
	padding-left: 23px;

	font: inherit;
	font-size: @input-size;
	line-height: @input-height;

	border: @secondary-border;
	border-radius: 4px;

	&:focus
	{
		outline: none;

		&::placeholder {
			color: @tertiary-color;
		}
	}

	&::placeholder {
		color: @quaternary-color;
	}

	&.error
	{
		border-color: @secondary-color;
	}
}

html > body > main > section.form > form > div > label
{
	position: absolute;
	top: -8px;
	left: 20px;

	display: none;

	padding-right: 4px;
	padding-left: 4px;

	font-size: @small-size;

	color: @quaternary-color;
	background: @body-background;
}

html > body > main > section.form > form > div > input:focus + label
{
	display: block;
}

html > body > main > section.form > form > div > input.error + label
{
	color: @secondary-color;
}

html > body > main > section.form > form > div > input:required + label
{
	&::after
	{
		content: '*';
	}
}

html > body > main > section.form > form > button
{
	display: block;

	margin-top: 47px;
	margin-right: auto;
	margin-left: auto;
}

html > body > main > section.form > form > small,
html > body > main > section.form > form > a
{
	display: block;

	font-size: @small-size;
	line-height: @huge-height;
	text-align: center;
}

html > body > main > section.form > form > small
{
	margin-top: 23px;

	color: @quaternary-color;
}

html > body > main > section.form > form > a
{
	color: @secondary-color;

	&:hover
	{
		text-decoration: underline;
	}
}

html > body > main > section.form > div.success
{
	position: absolute;
	top: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;

	letter-spacing: 0.6px;
	text-align: center;
	text-transform: uppercase;

	background: @body-background;
}

html > body > main > section.form > div.success > p
{
	width: 275px;
	padding-top: 200px;
	margin-top: 180px;
	margin-right: auto;
	margin-left: auto;

	background: url('../images/icons/success.svg') center 0 no-repeat transparent;
}
