html
{
  box-sizing: border-box;
}

*,
*::before,
*::after
{
  box-sizing: inherit;
}

html > body
{
  margin: 0;

  font-family: @font-family;
  font-size: @medium-size;
  line-height: @large-height;

  color: @primary-color;
  background: @body-background;
}

html > body > main h2
{
  margin: 0;

  font-size: @h2-size;
  font-weight: @medium;
  line-height: @h2-height;
  letter-spacing: -0.1px;
}

html > body a
{
  font-size: @large-size;
  text-decoration: none;

  color: @primary-color;

  &:hover
  {
    color: @secondary-color;
  }
}

html > body button
{
  font: inherit;

  background: none;

  border: none;
}

html > body button.button
{
  min-width: 250px;
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 30px;

  text-align: center;

  color: @tertiary-color;

  background: @button-background;

  border-radius: 30px;
  box-shadow: @medium-shadow;

  &:hover
  {
    background: @button-hover-background;

    box-shadow: @large-shadow;
  }
}

html > body small.subheading {
  display: block;

  margin-top: 7px;

  font: inherit;
  font-weight: @medium;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  color: @quinary-color;
}

html > body .visually-hidden
{
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;
}
