@red: #f9572e;

@font-family: "muller", "verdana", sans-serif;

@primary-font-size: 16px;
@secondary-font-size: 21px;

@primary-line-height: 1.5;

@primary-color: black;
@secondary-color: @red;

@primary-background: white;
